{% extends 'base.html' %}

{% block title%} {{path}} {% endblock %}

{% block main %} 

	<div class="page-details">
		<p><span><i class="fa fa-map-marker"></i> Current location:</span> {{path}} </p>
		<p><span><i class="fa fa-folder"></i> Folders:</span> {{dir_list|length}}</p>
		<p><span><i class="fa fa-files-o"></i> Files:</span>  {{file_list|length}}</p>
	</div>
	
	<div>

	{% if dir_list %}
		<h1> Browse folders in Current Location </h1>
		
		{% for dir in dir_list %} 
			
			<p> <i class="fa fa-folder-open"></i> <a href="/navigator{{path}}{{dir}}/">{{dir}}</a></p>

		{%endfor%}	

	{% endif%}	

	{% if file_list %}

		<h1> Download Files in Current Location</h1>

		<form method="post", action="{% url 'download'%}">
			{%csrf_token%}
			
			{% for file in file_list %} 

				<input type="checkbox" name="files" value="{{path}}{{file}}" > 
				<i class="fa fa-clone"></i> {{file}} <br><br>				

			{%endfor%}
	{% endif %}

			<p> Enter Full Download Path: <input type="text" name="download_path"></p>

			<button class="btn btn-success" type="submit"> Download Selected Files</button>

		</form>
	</div>

{% endblock %}